<!-- todo: why div -->
<div class="login">
        <form class="login__content">
            <div class="login__header">
                <!-- todo: why p    done-->
                <span class="login__header-title">Free B2B Matching</span>
                <span class="login__header-subtitle">Find local and global suppliers partnerships and customers</span>
            </div>
            <div class="login__sign-up-content">
                <label>
                <!-- todo: class at first  done-->
                <input class="login__sign-up-content-input"
                       type="text"
                       id="businessName"
                       placeholder="Business name"
                       required
                       minlength="4"
                       maxlength="30"
                       name="BusinessName"
                       #name="ngModel"
                       [(ngModel)]="userData.name">
                </label>
                <!-- todo: why div -->
                <div class="login__sign-up-content-notification" 
                      *ngIf="name.touched && !name.valid">
                <span>Name must be greater than 4 characters</span>
                </div>
                
                <label>
                <input class="login__sign-up-content-input"
                       type="email" 
                       name="Business email"
                       id="businessEmail"
                       placeholder="Business email" 
                       required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}"
                       #email="ngModel" 
                       [(ngModel)]="userData.email">
                </label>
                <!-- todo: why span -->
                <!-- [class._hidden] -->
                <span [hidden]="email.valid || email.untouched" 
                      class="login__sign-up-content-notification">
                    <p>Email is required</p>
                </span>
                <label>
                <input type="password"
                       class="login__sign-up-content-input"
                       autocomplete="current-password" 
                       name="Password"
                       id="userPassword" 
                       placeholder="Password" 
                       required
                       minlength="8"
                       maxlength="30"
                       #password="ngModel"
                       [(ngModel)]="userData.password">
                </label>
                <span [hidden]="password.valid || password.untouched" 
                      class="login__sign-up-content-notification">
                    <p>Password must be greater than 8 characters</p>
                </span>
            </div>
            <div class="login__sign-up-button">
                 <!-- button !== a   done-->
                <button type="button"
                        [disabled]="name.invalid || email.invalid || password.invalid" 
                        (click)="addUser();"
                        >SIGN UP NOW</button>
            </div>
            <div class="login__sign-up-divider">
                <span>Or</span> 
            </div>
            <ul class="login__sign-up-social">
                <li><button type="button" 
                            class="login__sign-up-social-btn-facebook">                          
                            <img class="login__sign-up-social-icon" 
                                 src="assets/images/f.png" 
                                 alt="">                
                          Continue with Facebook
                    </button>
                </li>
                <li><button type="button" 
                            class="login__sign-up-social-btn-gmail" >
                            <img class="login__sign-up-social-icon"
                                 src="assets/images/g.png" 
                                 alt="">
                           Continue with Gmail
                    </button>
                </li>
                <li><button type="button"
                            class="login__sign-up-social-btn-linkedin">
                            <img class="login__sign-up-social-icon" 
                                 src="assets/images/in.png" 
                                 alt="">
                           Continue with LinkedIn
                    </button>
                </li>
            </ul>
            <div class="login__footer-title">
                <p>By continuing, you agree to Arlians's 
                    <a href="#">Terms of Use</a>
                </p>
            </div>
            <div class="login__footer-subtitle">
                <p>Already a member? 
                    <a href="#">Log in</a>
                </p>
            </div>  
        </form>
    </div>
 