body {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    background-color: #fff;
}

.content p {
    font-size: 20px;
    text-align: center;
    color: #fff;
}

.login-form {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.main-content {
    margin-top: 0;
    max-width: 360px;
    text-align: center;
    background-color: #bdbdbd;
    border-radius: 5px;
    padding: 0 35px 30px 35px;
}

.main-text {
    margin-top: 0;
    padding: 20px 0 0 0;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 0;
}

.sub-text {
    margin-top: 0;
    padding: 0 60px 0 60px;
    font-size: 14px;
    font-weight: 600;
}

.sign-up-content {
    display: block;
    text-align: center;
    padding: 0 30px 0 30px;
}

.sign-up-content input {
    vertical-align: baseline;
    border-radius: 3px;
    border: solid 1px #dbdbdb;
    height: 40px;
    width: 100%;
    padding: 0 0 0 15px;
    margin-top: 22px;
    outline: none;
}

.sign-up-button {
    padding: 0 30px 0 30px;
}

.sign-up-button button {
    margin-top: 30px;
    background-color: #00a79d;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    width: 100%;
    padding: 10px 0 10px 0;
    outline: none;
}

.or {
    margin: 0;
    padding: 7px 0 7px 0;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
}

.sign-up-social {
    display: block;
    text-align: center;
    padding: 0 30px 0 30px;
}

.sign-up-social button {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    width: 100%;
    padding: 10px 0 10px 0;
    color: #fff;
    outline: none;
}

.btn-facebook {
    background-color: #436ab0;
}

.btn-gmail {
    background-color: #4489f1;
}

.btn-linkedin {
    background-color: #1379b3;
}

.icon1 {
    background-color: #2e4979;
}

.icon2 {
    background-color: #305da2;
}

.icon3 {
    background-color: #0c5a87;
}

.terms-footer p {
    font-size: 12px;
}

.terms-footer a :hover {
    color: #2f19c7;
}

.log-in-footer a {
    text-decoration: none;
    color: #222;
}

.log-in-footer a:visited {
    color: #222;
}

.req p {
    position: absolute;
    text-align: left;
    color: #DC3735;
    line-height: 0;
    font-size: 11px;
}

input.ng-touched.ng-invalid {
    border: solid #DC3735 1px;
}

input.ng-touched.ng-valid {
    border: solid #56f466 1px;
}