html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ul {
  list-style-type: none;
}

body {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}

.f-login {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  &__content {
    max-width: 360px;
    text-align: center;
    background-color: #bdbdbd;
    border-radius: 5px;
    padding: 0 35px 30px 35px;
  }
  &__header {
    &-title {
      padding: 20px 0 0 0;
      font-size: 35px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    &-subtitle {
      padding: 0 60px 0;
      font-size: 14px;
      font-weight: 400;
    }
  }

  &__sign-up-content {
    display: block;
    text-align: center;
    padding: 0 30px 0 30px;
    margin-bottom: 25px;

    &-input {
      vertical-align: baseline;
      border-radius: 3px;
      border: solid 1px #dbdbdb;
      height: 40px;
      width: 100%;
      padding: 0 0 0 15px;
      margin-top: 22px;
      outline: none;
    }
    &-notification {
      position: absolute;
      text-align: left;
      color: #dc3735;
      line-height: 0;
      font-size: 11px;
    }
  }
  &__sign-up-button {
    padding: 0 30px 0 30px;
    button {
      background-color: #00a79d;
      color: #ffffff;
      font-size: 17px;
      font-weight: 400;
      border-radius: 3px;
      border: none;
      width: 100%;
      padding: 10px 0 10px 0;
      cursor: pointer;
      transition-duration: 0.4s;
    }
  }
  &__sign-up-divider {
    margin: 0;
    padding: 7px 0 7px 0;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
  }
  &__sign-up-social {
    display: block;
    text-align: center;
    padding: 0 30px 0 30px;
    button {
      margin-top: 10px;
      font-size: 14px;
      font-weight: 400;
      border-radius: 3px;
      border: none;
      width: 100%;
      padding: 10px 0 10px 0;
      color: #ffffff;
      cursor: pointer;
      transition-duration: 0.4s;
    }
    img{
        width:25px;
        box-shadow: none;
    }
    &-btn-facebook{
        background-color: #436ab0;
    }
    &-btn-gmail{
        background-color: #4489f1;
    }
    &-btn-linkedin{
        background-color: #1379b3;
    }
    &-facebook-icon{
        background-color: #2e4979;
    }
    &-gmail-icon{
        background-color: #305da2;
    }
    &-linkedin-icon{
        background-color: #0c5a87;
    }
    &-discription{
        color:#ffffff;
    }

  }
  &__footer-title{
    font-size: 12px;
  }
  button:hover {
    background: rgba(70, 69, 69, 0.5);

}

}




.terms-footer a :hover {
  color: #2f19c7;
}

.log-in-footer a {
  text-decoration: none;
  color: #222;
}

.log-in-footer a:visited {
  color: #222;
}

input.ng-touched.ng-invalid {
  border: solid #dc3735 1px;
}

input.ng-touched.ng-valid {
  border: solid #56f466 1px;
}
