<style>
     :host {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 14px;
        color: #222;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
</style>

<div class="content" role="main">
    <p>Sign Up</p>
</div>

<div class="login-form">
    <form class="main-content">
        <div class="main-header">
            <p class="main-text">Free B2B Matching</p>
            <p class="sub-text">Find local and global suppliers, partnerships and customers</p>
        </div>
        <div class="sign-up-content">
            <input type="text"
                    name="Business name"
                    placeholder="Business name"
                    [(ngModel)]="user.name" #name="ngModel" required>

            <div [hidden]="name.valid || name.untouched" class="alert alert-danger">
                name has required
            </div>

            <input type="email" autocomplete="off" name="Business email" placeholder="Business email" required pattern="[a-zA-Z_]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}" >
            <input type="text" name="Password" placeholder="Password" required>
        </div>
        <div class="sign-up-button">
            <button type="button">SIGN UP NOW</button>
        </div>
        <p class="Or">Or</p>
        <div class="sign-up-social">
            <button type="button" class="btn-facebook"><span class="icon1"></span><span class="discription">Continue with
          Facebook</span></button>
            <button type="button" class="btn-gmail"><span class="icon2"></span><span class="discription">Continue with Gmail</span></button>
            <button type="button" class="btn-linkedin"><span class="icon3"></span><span class="discription">Continue with LinkedIn</span></button>
        </div>
        <div class="terms-footer">
            <p>By continuing, you agree to Arlians's <a href="#">Terms of Use</a></p>
        </div>
        <div class="log-in-footer">
            <p><a href="#">Already a member? Log in</a></p>
        </div>
    </form>
</div>