.f-login{
    &__header{
        max-width: 100%;
        background-color: #ffffff;
        color:#2f2f2f;
        &-links{
            ul{
                padding:20px 0 20px 50px;
            }
            li{
                display: inline;
                padding:0 20px 0 0;
            }
            a{
                text-decoration: none;
                color:#2f2f2f;
                font-size:20px;
                transition-duration: 300ms;
                &:hover{
                    color:#6C8DF5;
                }
            }
           
        }
    }
}