<header-component></header-component>
<div class="f-authorized-user">
  <div class="f-authorized-user__content">
      <div class="f-authorized-user__header">
          <p class="f-authorized-user__header-title">Authorized users</p>
          <p>(service)</p>
          <p class="f-authorized-user__header-subtitle">Welcome {{ userDataService.userData.name | uppercase }}</p>
          <p>Your email is: {{ userDataService.userData.email }} </p>
          <p>Your password is: {{ userDataService.userData.password }} </p>
      </div>
  </div>
</div>
<!-- todo: отдельный компонент -->
<div class="f-authorized-user">
  <div class="f-authorized-user__content">
      <div class="f-authorized-user__header">
          <p class="f-authorized-user__header-title">Authorized users</p>
          <p>(second service)</p>
          <p class="f-authorized-user__header-subtitle">Welcome {{ workspaceService.workspaceUser.workspaceName | uppercase}}</p>
          <p>Your password is: {{ workspaceService.workspaceUser.workspacePassword }} </p>
      </div>
  </div>
</div>