<!-- todo    done-->
<form action="" 
      class="recover">
    <div class="recover__content">
        <div class="recover__header">
            <span class="recover__header-title">Введите данные</span>
        </div>
        <label><!-- todo    done-->   
            <input class="recover__content-input"
                   type="text"
                   placeholder="Name"
                   required
                   minlength="4"
                   maxlength="30"
                   name="workspaceName"
                   #name="ngModel"
                   [(ngModel)]="recoverPasswordUser.Name">
        </label>
        <label>
            <input class="recover__content-input"
                   type="password"
                   autocomplete="current-password" 
                   name="workspacePassword"
                   placeholder="Password" 
                   required
                   minlength="8"
                   maxlength="30"
                   #password="ngModel"
                   [(ngModel)]="recoverPasswordUser.Password">
        </label>
        <div class="recover__content">
            <!-- todo   done-->
            <button type="button"
                    (click)="addUserWorkspace();"
                    >SUBMIT</button>
        </div>
    </div>
</form>