<header-component></header-component>
<div class="section-authorized-user">
  <div class="section-authorized-user__content">
      <div class="section-authorized-user__header">
          <span class="section-authorized-user__header-title">Authorized users</span>
          <span>(service)</span>
          <span class="section-authorized-user__header-subtitle">Welcome {{ userDataService.userData.name | uppercase }}</span>
          <span>Your email is: {{ userDataService.userData.email }} </span>
          <span>Your password is: {{ userDataService.userData.password }} </span>
      </div>
  </div>
</div>
<!-- todo: отдельный компонент -->
<div class="section-authorized-user">
  <div class="section-authorized-user__content">
      <div class="section-authorized-user__header">
          <span class="section-authorized-user__header-title">Authorized users</span>
          <span>(second service)</span>
          <span class="section-authorized-user__header-subtitle">Welcome {{ recoverService.recoverPasswordUser.Name | uppercase}}</span>
          <span>Your password is: {{ recoverService.recoverPasswordUser.Password }} </span>
      </div>
  </div>
</div>