<!-- todo -->
<div class="f-login">
    <div class="f-login__content">
        <label for="workspaceName"></label>
        <!-- todo -->
        <input type="text"
               class="f-login__content-input"
               id="workspace-name"
               placeholder="Name"
               required
               minlength="4"
               maxlength="30"
               name="workspaceName"
               #name="ngModel"
               [(ngModel)]="workspaceUser.workspaceName">
        <label for="workspacePassword"></label>
        <input type="password"
               class="f-login__content-input"
               autocomplete="current-password" 
               name="workspacePassword"
               id="workspacePassword" 
               placeholder="Password" 
               required
               minlength="8"
               maxlength="30"
               #password="ngModel"
               [(ngModel)]="workspaceUser.workspacePassword">
        <div class="f-login__content">
            <!-- todo -->
            <button type="button"
                    (click)="addUserWorkspace();"
                    routerLink = "/account">SUBMIT</button>
        </div>
    </div>
</div>