<!-- todo -->
<form action="" 
      class="f-login">
    <div class="f-login__content">
        <div class="f-login__header">
            <span class="f-login__header-title">Введите данные</span>
        </div>
        <label><!-- todo    done-->   
            <input class="f-login__content-input"
                   type="text"
                   placeholder="Name"
                   required
                   minlength="4"
                   maxlength="30"
                   name="workspaceName"
                   #name="ngModel"
                   [(ngModel)]="workspaceUser.workspaceName">
        </label>
        <label>
            <input class="f-login__content-input"
                   type="password"
                   autocomplete="current-password" 
                   name="workspacePassword"
                   placeholder="Password" 
                   required
                   minlength="8"
                   maxlength="30"
                   #password="ngModel"
                   [(ngModel)]="workspaceUser.workspacePassword">
        </label>
        <div class="f-login__content">
            <!-- todo -->
            <button type="button"
                    (click)="addUserWorkspace();"
                    routerLink = "/account">SUBMIT</button>
        </div>
    </div>
</form>