.f-login {
  margin: 100px 0; // todo   done
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  &__header {
    padding-top:30px;
    &-title {
      padding: 40px 0 ;// todo   done
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 10px;
    }
  }
  &__content{
      max-width: 360px;
      text-align: center;
      background-color: #bdbdbd;
      border-radius: 5px;
      padding: 0 35px 30px 35px;
      input{
        vertical-align: baseline;
        border-radius: 3px;
        border: solid 1px #dbdbdb;
        height: 40px;
        width: 100%;
        padding: 0 15px 0; // todo   done
        margin-top: 17px;
        outline: none;
      }
      button {
        margin-top: 30px;
        background-color: #00a79d;
        color: #ffffff;
        font-size: 17px;
        font-weight: 400;
        border-radius: 3px;
        border: none;
        width: 100%;
        padding: 10px 0;// todo   done
        &:hover{  // todo: hover   done
          background: rgba(70, 69, 69, 0.5);
          cursor: pointer; // todo:   done
          transition-duration: 0.4s; // todo:  done
      }
    }
  }
}
