.f-login {
  margin-top: 100px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  &__content {
    max-width: 360px;
    text-align: center;
    background-color: #bdbdbd;
    border-radius: 5px;
    padding: 0 35px 30px 35px;
   
  }
  &__header {
    &-title {
      padding: 40px 0 0 0;
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    &-subtitle {
      padding: 0 60px 0;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 10px;
    }
  }

  &__sign-up-content {
    display: block;
    text-align: center;
    padding: 0 30px 0 30px;
    margin-bottom: 25px;

    &-input {
      vertical-align: baseline;
      border-radius: 3px;
      border: solid 1px #dbdbdb;
      height: 40px;
      width: 100%;
      padding: 0 0 0 15px;
      margin-top: 17px;
      outline: none;
    }
    &-notification {
      text-align: left;
      color: #dc3735;
      font-size: 11px;
      p {
        position: absolute;
      }
    }
  }
  &__sign-up-button {
    padding: 0 30px 0 30px;
    button {
      background-color: #00a79d;
      color: #ffffff;
      font-size: 17px;
      font-weight: 400;
      border-radius: 3px;
      border: none;
      width: 100%;
      padding: 10px 0 10px 0;
      cursor: pointer;
      transition-duration: 0.4s;
    }
  }
  &__sign-up-divider {
    margin: 0;
    padding: 7px 0 7px 0;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
  }
  &__sign-up-social {
    display: block;
    text-align: center;
    padding: 0 30px 0 30px;
    margin-bottom: 20px;
    button {
      position: relative;
      margin-top: 10px;
      font-size: 14px;
      font-weight: 400;
      border-radius: 3px;
      border: none;
      width: 100%;
      padding: 10px 0 10px 0;
      color: #ffffff;
      cursor: pointer;
      transition-duration: 0.4s;
    }
    img {
      width: 25px;
    }
    &-btn-facebook {
      background-color: #436ab0;
    }
    &-btn-gmail {
      background-color: #4489f1;
    }
    &-btn-linkedin {
      background-color: #1379b3;
    }
    &-icon {
      position: absolute;
      margin: auto 0;
      width: 30px;
      left: 10px;
      bottom: 5px;
    }
    &-discription {
      color: #ffffff;
    }
  }
  &__footer-title {
    margin-bottom: 10px;
    font-size: 12px;
    a {
      color: #222;
    }
    a:visited {
      color: #222;
    }
    a:hover {
      color: #2f19c7;
    }
  }
  &__footer-subtitle {
    font-size: 15px;
    margin-bottom: 20px;
    a {
      color: #222;
    }
    a:visited {
      color: #222;
    }
    a:hover {
      color: #2f19c7;
    }
  }
  button:hover {
    background: rgba(70, 69, 69, 0.5);
  }
  input.ng-touched.ng-invalid {
    border: solid #dc3735 1px;
  }

  input.ng-touched.ng-valid {
    border: solid #56f466 1px;
  }
}
